.git
.github
.venv
.cache
.dagster
.dagster_home
.hypothesis
.pytest_cache
.ruff_cache
data
logs
site
tests
**/__pycache__
**/*.duckdb
**/*.duckdb-wal
**/*.duckdb-shm
**/*.env
*.parquet
*.sqlite
*.sqlite3
